<div class="well col-xs-5 col-xs-offset-3" style="margin-top:100px">
        <form class="pure-form pure-form-aligned" name="registerForm" ng-submit="registerForm.$valid && vm.register()" novalidate required>
            <fieldset>
                <div class="pure-control-group ">
                    <label>email</label>
                    <input type="email" name="email" ng-model="vm.credentials.email" required>
                    <div class="formWarningMessage" ng-messages="registerForm.email.$error" ng-if="registerForm.email.$dirty">
                        <p ng-message="required">Podaj email</p>
                        <p ng-message="email">Podaj prawidłowy email</p>
                    </div>
                </div>
                <div class="pure-control-group">
                    <label>hasło</label>
                    <input type="text" name="password" ng-model="vm.credentials.password" ng-minlength="4" ng-maxlength="8" required>
                    <div class="formWarningMessage" ng-messages="registerForm.password.$error" ng-if="registerForm.password.$dirty">
                        <p ng-message="required">Podaj hasło</p>
                        <p ng-message="minlength, maxlength">Podaj od 4 do 10 znaków</p>
                    </div>
                </div>
                <span>{{vm.message}}</span>
                <div>
                  <button style="margin:15px" type="submit" class ="btn btn-primary pull-left" ng-disabled="registerForm.$invalid">Zarejestruj się</button>
                  </div>
          </fieldset>    
    </form>
</div>