<div class="row" ng-hide="model.error">
        <div class="col-xs-1">
          <div id="daysPanel" class="well" ng-repeat="day in days">
          <h6><strong>{{day}}</strong></h6>
          </div>  
        </div>
        <div class="panel panel-default col-xs-8">
            <div class="row" id="recipes">
              <div class="well col-xs-4" ng-repeat="recipe in data.recipes | filter:categoryFilterfn | filter:searchedRecipe | range:selectedPage:pageSize" ng-click="recipe.show = ! recipe.show">
                  <h4 class="text-center"><strong>{{recipe.name}}</strong></h4>
                  <img src ="{{recipe.mainImageUrl}}"></img>
                  <button ng-click="addRecipeToCart(recipe)" class="btn btn-success pull-right">Dodaj</button>
              </div>
            </div>
            <div class="btn-group">
              <a ng-repeat="page in data.recipes | filter:categoryFilterfn | filter:searchedRecipe | pageCount:pageSize" ng-click="selectPage($index+1)" class="btn btn-default" ng-class="getPageClass($index+1)">{{$index+1}}</a>
            </div>
        </div>
        <div class="col-xs-3 well" ng-controller="shoppingListController">
          <h4 align="center">Lista zakupów</h4>
          <div class="alert alert-warning" ng-show="cartData.length == 0">
            Lista zakupów jest pusta
          </div>
          <div ng-hide="cartData.length == 0">
          <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Ilość</th>
                    <th>Produkt</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(name, count) in ingredients() track by $index">
                <td>{{count}}</td>
                <td>{{name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
</div>