<div class="row" ng-hide="model.error">
        <div class="col-xs-1">
          <div id="daysPanel" class="well" ng-repeat="day in days">
          <h6><strong>{{day}}</strong></h6>
          </div>  
        </div>
        <div class="panel panel-default col-xs-9">
            <div class="row" id="recipes">
              <div style="height:220px" class="well col-xs-3" ng-repeat="recipe in data.recipes | filter:categoryFilterfn | filter:searchedRecipe | range:selectedPage:pageSize">
                  <div style="height:70px">
                    <h4 class="text-center"><strong>{{recipe.name}}</strong></h4>
                  </div>
                    <img src ="{{recipe.mainImageUrl}}"></img>
                    <button ng-click="addRecipe(recipe)" class="btn btn-success pull-right">Dodaj</button>
              </div>
            </div>
            <div class="btn-group">
              <a ng-repeat="page in data.recipes | filter:categoryFilterfn | filter:searchedRecipe | pageCount:pageSize" ng-click="selectPage($index+1)" class="btn btn-default" ng-class="getPageClass($index+1)">{{$index+1}}</a>
            </div>
        </div>
</div>
        