<navigation></navigation>
<div class="row" ng-hide="model.error" ng-controller="recipeListCtrl">
  <div class="col-xs-1">
    <div id="daysPanel" class="well" ng-repeat="day in days">
      <h6><strong>{{day}}</strong></h6>
    </div>
  </div>
  <div class="panel panel-default col-xs-9">
    <div class="row" id="recipes">
      <div style="height:220px" class="well col-xs-3" ng-repeat="recipe in recipes | filter:categoryFilterfn | filter:searchedRecipe | range:selectedPage:pageSize">
        <recipe-list recipe="recipe"></recipe-list>
      </div>
    </div>
    <div class="btn-group">
      <a ng-repeat="page in recipes | filter:categoryFilterfn | filter:searchedRecipe | pageCount:pageSize" ng-click="selectPage($index+1)"
      class="btn btn-default" ng-class="getPageClass($index+1)">{{$index+1}}</a>
    </div>
  </div>
<div>