<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!--Brand-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" ng-click="navvm.resetView(); selectPage(1)" >One Week Meals</a>
      </div>

      <!--categories-->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-repeat="category in navvm.categories" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{category.parent}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ng-repeat="childCategory in category.children"><a ng-click="selectCategory(childCategory)" href="#">{{childCategory}}</a></li>
            </ul>
          </li>
        </ul>
        <!--search field-->
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Szukaj" ng-model="searchedRecipe">
          </div>
        </form>
        <!--log in-->
        <a class="btn btn-default navbar-btn navbar-right" ng-hide="navvm.isLoggedIn" href="#/login" >Logowanie</a>
        <!--log out-->
        <a class="btn btn-default navbar-btn navbar-right" ng-show="navvm.isLoggedIn" href="#" ng-click="navvm.logout" > Wyloguj</a>
        <!--cart-->
        <cart-summary>
      </div>
    </div>
  </nav>