<div class="well col-xs-5 col-xs-offset-3">
        <form class="pure-form pure-form-aligned" name="orderIngredientsForm" ng-submit="orderIngredientsForm.$valid && vm.orderIngredients(shippingDetails)" novalidate required>
            <fieldset>
                <div class="pure-control-group">
                    <label>Imię</label>
                    <input type="text" name="name" ng-model="shippingDetails.name" ng-maxlength='30' required>
                    <div class="formWarningMessage" ng-messages="orderIngredientsForm.name.$error" ng-if="orderIngredientsForm.name.$dirty">
                        <div ng-message="required">Podaj imię</div>
                        <div ng-message="maxlength">Max ilosc znaków: 30</div>
                    </div>
                </div>
                <div class="pure-control-group">
                    <label>Nazwisko</label>
                    <input type="text" name="surname" ng-model="shippingDetails.surname" ng-maxlength='30' required>
                    <div class="formWarningMessage" ng-messages="orderIngredientsForm.surname.$error" ng-if="orderIngredientsForm.surname.$dirty">
                        <div ng-message="required; pattern">Podaj nazwisko</div>
                        <div ng-message="maxlength">Max ilosc znaków: 30</div>
                    </div>
                </div>
                <div class="pure-control-group">
                    <label>Miejscowość</label>
                    <input type="text" name="city" ng-model="shippingDetails.city" ng-maxlength='40' required>
                    <div class="formWarningMessage" ng-messages="orderIngredientsForm.city.$error" ng-if="orderIngredientsForm.city.$dirty">
                        <div ng-message="required; pattern">Podaj miejscowość</div>
                        <div ng-message="maxlength">Max ilosc znaków: 40</div>
                    </div>
                </div>
                <div class="pure-control-group">
                    <label>Kod pocztowy</label>
                    <input type="text" name="zip" ng-model="shippingDetails.zip" ng-pattern="/^\d{2}-\d{3}$/" required>
                    <div class="formWarningMessage" ng-messages="orderIngredientsForm.zip.$error" ng-if="orderIngredientsForm.zip.$dirty">
                        <div ng-message="required; pattern">Podaj kod pocztowy</div>
                    </div>
                </div>
                <div class="pure-control-group">
                    <label>Ulica</label>
                    <input type="text" name="street" ng-model="shippingDetails.street" ng-maxlength='30' required>
                    <div class="formWarningMessage" ng-messages="orderIngredientsForm.street.$error" ng-if="orderIngredientsForm.street.$dirty">
                        <div ng-message="required; pattern">Podaj ulicę</div>
                        <div ng-message="maxlength">Max ilosc znaków: 30</div>
                    </div>
                </div>
                <div class="pure-control-group">
                    <label>Nr budynku</label>
                    <input type="text" name="address1" ng-model="shippingDetails.address1" ng-pattern="/^[0-9]{1,4}$/" required>
                    <div class="formWarningMessage" ng-messages="orderIngredientsForm.address1.$error" ng-if="orderIngredientsForm.address1.$dirty">
                        <div ng-message="required; pattern">Podaj nr budynku</div>
                    </div>
                </div>
                <div class="pure-control-group">
                    <label>Nr domu/mieszkania</label>
                    <input type="text" name="address2" ng-model="shippingDetails.address2" ng-pattern="/^[0-9]{1,4}$/" required>
                    <div class="formWarningMessage" ng-messages="orderIngredientsForm.address2.$error" ng-if="orderIngredientsForm.addres2.$dirty">
                        <div ng-message="required; pattern">Podaj nr mieszkania</div>
                    </div>
                </div>
                <div class="pure-control-group" style="display:flex; align-items:center">
                    <label>Data dostawy</label>
                    <md-content layout-pading="" style="display:inline-block; width:43%">
                        <md-datepicker ng-model="shippingDetails.deliveryDate" md-min-date="vm.minDate" md-max-date="vm.maxDate" md-placeholder="Wybierz datę" required></md-datepicker>
                    </md-content>
                </div>
                <div>
                    <input type="checkbox" name="conditions" ng-model="conditions">Zapoznałem się z regulaminem
                    <div>
                        <button style="margin-top:15px" type="submit" class ="btn btn-primary" ng-disabled="orderIngredientsForm.$invalid || !conditions">Zamów</button>
                    </div>
                </div>
                
            </fieldset>    
    </form>
</div>