<div class="col-xs-6 col-xs-offset-3 well">
    <h2 align="center">Lista dań</h4>
    <div class="alert alert-warning" ng-show="vm.cartData.length == 0">
      <p class="text-center">Coś tu pusto</p>
    </div>
    <div ng-hide="vm.cartData.length == 0">
        <table id="ingredientsTable" class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th><h4>Nazwa</h4></th>
                    <th><h4>Danie</h4></th>
                    <th><h4>Ilość</h4></th>
                </tr>
            </thead>
            <tbody>
              <tr style="height:120px" ng-repeat="cartProduct in vm.cartData">
                <td><img class="img-responsive img-circle" src={{cartProduct.mainImageUrl}}></img></td>  
                <td>{{cartProduct.name}}</td>
                <td>{{cartProduct.dish}}</td>
                <td>{{cartProduct.count}}</td>
                <td><button ng-click="remove(cartProduct._id)" class="btn btn-sm btn-danger">X</button></td>
              </tr>
            </tbody>
        </table>
    </div>
    <a href="#/recipes" class="btn btn-primary">Powrót</a>
    <a href="#/ingredients" class="pull-right btn btn-primary">Lista składników</a>
</div>